.menuItem{
    -fx-background-color: transparent;
}
.menuItem: hover{
    -fx-border-color: #FFB971;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem{
    -fx-background-color: transparent;
}

.sidebarItem: hover{
    -fx-background-color: #FFA850;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
}